{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<!--<!DOCTYPE html>-->
<!--[if IE 7 ]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->

    <!-- Preloader -->
    <div id="preloader">
        <div class="tb-cell">
            <div id="page-loading">
                <div></div>
                <p>Loading</p>
            </div>
        </div>
    </div>

    <!-- Wrap -->
    <div id="wrap"> 
        <!-- Header -->
        <header id="header" class="header">
            <div class="container">
                <!-- Logo -->
                <div class="logo float-left">
{#                    <a href="{% url "index" %}" title="">#}
{#                    <img src="{% static "images/background/logo/TWlogo.jpg" %}" alt=""></a>#}
                </div>
                <!-- End Logo -->
                <!-- Bars -->
                <div class="bars" id="bars"></div>
                <!-- End Bars -->

                <!--Navigation-->
                <nav class="navigation nav-c" id="navigation" data-menu-type="1200">
                    <div class="nav-inner">
                        <a href="#" class="bars-close" id="bars-close">Close</a>
                        <div class="tb">
                            <div class="tb-cell">
                                <ul class="menu-list text-uppercase">

                                    <li>
                                        <a href="{% url "index" %}" title="">Search</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
                <!--End Navigation-->
            </div>
        </header>
        <!-- End Header -->

         <!--Banner-->
        <section class="sub-banner2">
            <!--Background-->
            <div class="bg-parallax bg-11"></div>
            <!--End Background-->
            <!-- Logo -->
            <div class="logo-banner text-center">
            </div>
            <!-- Logo -->
        </section>
        <!--End Banner-->

        <!-- Main -->
        <div class="main">
            <div class="container">
                <div class="main-cn element-page bg-white clearfix">
                    
                    <section class="user-profile">
                        <div class="row">
                            <br>
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-9">
                                <div class="my-profile">
                                    <div class="row">
                                        <form method="post" action="{% url 'login' %}">
                                            {% csrf_token %}

                                            <input type="hidden" name="next" value="{{ next }}">
                                            <input type="hidden" name="customer_id" value="{{ user.id }}">

                                            <div class="col-md-6">

                                                <h4 class="my-profile__title">Login Information</h4>
                                                <ul>    {{ form.username.errors }}
                                                    <li><span>Username</span>{{ form.username }}</li>
                                                        {{ form.password.errors }}
                                                    <li><span>Password</span>{{ form.password }}</li>
                                                    <input class="awe-btn" type="submit" value="Login">
                                                </ul>

                                            </div>
                                        </form>
                                    </div>

                                    <div class="check-box">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!-- End Main -->
{% endblock %}