{% load bootstrap3 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Font Google -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7COpen+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <!-- End Font Google -->
    <!-- Library CSS -->
    <link rel="stylesheet" href="{% static "css/library/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/library/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/library/jquery-ui.min.css" %}">
        <link rel="stylesheet" href="{% static "css/library/owl.carousel.css" %}">
    <link rel="stylesheet" href="{% static "css/library/jquery.mb.YTPlayer.min.css" %}">
    <!-- End Library CSS -->
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title> {% block title %}Travel Where{% endblock %}</title>
</head>
<body>
    {% bootstrap_messages %}
    {% block content %}
    {% endblock %}

</body>
</html>