{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
  <style>
  .modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-backdrop.in {
      z-index: auto;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
  </style>

    <!-- Hotels less than $50 Modal -->
<div class="modal" id="hotel_lt50Modal" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header" style="padding:35px 50px;">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4>Hotels in {{ city.city }}<br> with a nightly rate less than $50:</h4>
    </div>
    <div class="modal-body" style="padding:40px 50px;">
      <form role="form">
          {% for each in hotel.hotels_lt50 %}
            <div class="form-group well well-sm">
                <u>{{ each.name }}:</u><br>
                {{ each.address }}, {{ each.loc_city }},
                {{ each.state }}
            </div>
          {% endfor %}
      </form>
    </div>
  </div>
</div>
</div>

    <!-- Hotels between $50 and $100 Modal -->
<div class="modal" id="hotel_50_100Modal" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header" style="padding:35px 50px;">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4>Hotels in {{ city.city }}<br> with a nightly rate less than $50:</h4>
    </div>
    <div class="modal-body" style="padding:40px 50px;">
      <form role="form">
          {% for each in hotel.hotels_50_100 %}
            <div class="form-group well well-sm">
                <u>{{ each.name }}:</u><br>
                {{ each.address }}, {{ each.loc_city }},
                {{ each.state }}
            </div>
          {% endfor %}
      </form>
    </div>
  </div>
</div>
</div>

    <!-- Hotels between $100 and $125 Modal -->
<div class="modal" id="hotel_100_125Modal" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header" style="padding:35px 50px;">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4>Hotels in {{ city.city }}<br> with a nightly rate less than $50:</h4>
    </div>
    <div class="modal-body" style="padding:40px 50px;">
      <form role="form">
          {% for each in hotel.hotels_100_125 %}
            <div class="form-group well well-sm">
                <u>{{ each.name }}:</u><br>
                {{ each.address }}, {{ each.loc_city }},
                {{ each.state }}
            </div>
          {% endfor %}
      </form>
    </div>
  </div>
</div>
</div>

<!-- 5.0 Restaurant Modal -->
<div class="modal" id="rests5Modal" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header" style="padding:35px 50px;">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4>Restaurants in {{ city.city }}<br> with a 5.0 rating:</h4>
    </div>
    <div class="modal-body" style="padding:40px 50px;">
      <form role="form">
          {% for each in restaurant.restaurants5 %}
            <div class="form-group well well-sm">
                <u>{{ each.name }}:</u><br>
                {{ each.loc_city }}, {{ each.state }}<br>
                {{ each.category }}
            </div>
          {% endfor %}
      </form>
    </div>
  </div>
</div>
</div>

    <!-- 4.5 Restaurant Modal -->
<div class="modal" id="rests4_5Modal" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header" style="padding:35px 50px;">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4>Restaurants in {{ city.city }}<br> with a 4.5 rating:</h4>
    </div>
    <div class="modal-body" style="padding:40px 50px;">
      <form role="form">
          {% for each in restaurant.restaurants4_5 %}
            <div class="form-group well well-sm">
                <u>{{ each.name }}:</u><br>
                {{ each.loc_city }}, {{ each.state }}<br>
                {{ each.category }}
            </div>
          {% endfor %}
      </form>
    </div>
  </div>
</div>
</div>

    <!-- 4.0 Restaurant Modal -->
<div class="modal" id="rests4Modal" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header" style="padding:35px 50px;">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4>Restaurants in {{ city.city }}<br> with a 4.0 rating:</h4>
    </div>
    <div class="modal-body" style="padding:40px 50px;">
      <form role="form">
          {% for each in restaurant.restaurants4 %}
            <div class="form-group well well-sm">
                <u>{{ each.name }}:</u><br>
                {{ each.loc_city }}, {{ each.state }}<br>
                {{ each.category }}
            </div>
          {% endfor %}
      </form>
    </div>
  </div>
</div>
</div>

    <!-- Trail Modal -->
<div class="modal" id="trailsModal" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header" style="padding:35px 50px;">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4>Trails in <br>{{ city.city }}:</h4>
    </div>
    <div class="modal-body" style="padding:40px 50px;">
      <form role="form">
          {% for each in outdoor.outdoors_trails %}
            <div class="form-group well well-sm">
                <u>{{ each.name }}:</u><br>
                {{ each.loc_city }}, {{ each.state }}<br>
                {{ each.category }}
            </div>
          {% endfor %}
      </form>
    </div>
  </div>
</div>
</div>

    <!-- Campground Modal -->
<div class="modal" id="campgroundModal" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header" style="padding:35px 50px;">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4>Campgrounds in<br> {{ city.city }}:</h4>
    </div>
    <div class="modal-body" style="padding:40px 50px;">
      <form role="form">
          {% for each in outdoor.outdoors_campground %}
            <div class="form-group well well-sm">
                <u>{{ each.name }}:</u><br>
                {{ each.loc_city }}, {{ each.state }}<br>
                {{ each.category }}
            </div>
          {% endfor %}
      </form>
    </div>
  </div>
</div>
</div>

    <!-- Mountain Resorts Modal -->
<div class="modal" id="mnt_ResortModal" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header" style="padding:35px 50px;">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4>Mountain Resorts in<br> {{ city.city }}:</h4>
    </div>
    <div class="modal-body" style="padding:40px 50px;">
      <form role="form">
          {% for each in outdoor.outdoors_mountain_resorts %}
            <div class="form-group well well-sm">
                <u>{{ each.name }}:</u><br>
                {{ each.loc_city }}, {{ each.state }}<br>
                {{ each.category }}
            </div>
          {% endfor %}
      </form>
    </div>
  </div>
</div>
</div>

    <!-- State Park Modal -->
<div class="modal" id="stParkModal" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header" style="padding:35px 50px;">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4>State Parks in <br>{{ city.city }}:</h4>
    </div>
    <div class="modal-body" style="padding:40px 50px;">
      <form role="form">
          {% for each in outdoor.outdoors_state_park %}
            <div class="form-group well well-sm">
                <u>{{ each.name }}:</u><br>
                {{ each.loc_city }}, {{ each.state }}<br>
                {{ each.category }}
            </div>
          {% endfor %}
      </form>
    </div>
  </div>
</div>
</div>

    <!-- Peak Modal -->
<div class="modal" id="peakModal" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header" style="padding:35px 50px;">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4>Peaks/Lookouts in<br> {{ city.city }}:</h4>
    </div>
    <div class="modal-body" style="padding:40px 50px;">
      <form role="form">
          {% for each in outdoor.outdoors_peak %}
            <div class="form-group well well-sm">
                <u>{{ each.name }}:</u><br>
                {{ each.loc_city }}, {{ each.state }}<br>
                {{ each.category }}
            </div>
          {% endfor %}
      </form>
    </div>
  </div>
</div>
</div>

    <!-- Lake Modal -->
<div class="modal" id="lakeModal" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header" style="padding:35px 50px;">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4>Lakes in <br>{{ city.city }}:</h4>
    </div>
    <div class="modal-body" style="padding:40px 50px;">
      <form role="form">
          {% for each in outdoor.outdoors_lake %}
            <div class="form-group well well-sm">
                <u>{{ each.name }}:</u><br>
                {{ each.loc_city }}, {{ each.state }}<br>
                {{ each.category }}
            </div>
          {% endfor %}
      </form>
    </div>
  </div>
</div>
</div>

    <!-- Other (outdoor) Modal -->
<div class="modal" id="otherModal" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header" style="padding:35px 50px;">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4>Other outdoor recreation in <br>{{ city.city }}:</h4>
    </div>
    <div class="modal-body" style="padding:40px 50px;">
      <form role="form">
          {% for each in outdoor.outdoors_other %}
            <div class="form-group well well-sm">
                <u>{{ each.name }}:</u><br>
                {{ each.loc_city }}, {{ each.state }}<br>
                {{ each.category }}
            </div>
          {% endfor %}
      </form>
    </div>
  </div>
</div>
</div>

<!-- Festival Modal -->
<div class="modal" id="festivalModal" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header" style="padding:35px 50px;">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4>Festivals in<br> {{ city.city }}:</h4>
    </div>
    <div class="modal-body" style="padding:40px 50px;">
      <form role="form">
          {% for each in music.events_festivals %}
            <div class="form-group well well-sm">
                <u>{{ each.title }}:</u><br>
                {{ each.date }}<br>
                {{ each.address }}, {{ each.loc_city }},
                {{ each.state }}
            </div>
          {% endfor %}
      </form>
    </div>
  </div>
</div>
</div>

    <!-- Music Modal -->
<div class="modal" id="musicModal" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header" style="padding:35px 50px;">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4>Music/Concerts in<br> {{ city.city }}:</h4>
    </div>
    <div class="modal-body" style="padding:40px 50px;">
      <form role="form">
          {% for each in music.events_music %}
            <div class="form-group well well-sm">
                <u>{{ each.title }}:</u><br>
                {{ each.date }}<br>
                {{ each.address }}, {{ each.loc_city }},
                {{ each.state }}
            </div>
          {% endfor %}
      </form>
    </div>
  </div>
</div>
</div>

        <!-- Pub Modal -->
<div class="modal" id="pubModal" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header" style="padding:35px 50px;">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4>Pubs in<br> {{ city.city }}:</h4>
    </div>
    <div class="modal-body" style="padding:40px 50px;">
      <form role="form">
          {% for each in night.nights_pub %}
            <div class="form-group well well-sm">
                <u>{{ each.name }}:</u><br>
                {{ each.loc_city }}, {{ each.state }}<br>
                {{ each.category }}
            </div>
          {% endfor %}
      </form>
    </div>
  </div>
</div>
</div>

    <!-- Bar Modal -->
<div class="modal" id="barModal" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header" style="padding:35px 50px;">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4>Bars in <br>{{ city.city }}:</h4>
    </div>
    <div class="modal-body" style="padding:40px 50px;">
      <form role="form">
          {% for each in night.nights_bar %}
            <div class="form-group well well-sm">
                <u>{{ each.name }}:</u><br>
                {{ each.loc_city }}, {{ each.state }}<br>
                {{ each.category }}
            </div>
          {% endfor %}
      </form>
    </div>
  </div>
</div>
</div>

    <!-- Sports Bar Modal -->
<div class="modal" id="sports_barModal" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header" style="padding:35px 50px;">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4>Sports Bars in<br> {{ city.city }}:</h4>
    </div>
    <div class="modal-body" style="padding:40px 50px;">
      <form role="form">
          {% for each in night.nights_sports_bar %}
            <div class="form-group well well-sm">
                <u>{{ each.name }}:</u><br>
                {{ each.loc_city }}, {{ each.state }}<br>
                {{ each.category }}
            </div>
          {% endfor %}
      </form>
    </div>
  </div>
</div>
</div>

    <!-- Music Venue Modal -->
<div class="modal" id="music_venueModal" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header" style="padding:35px 50px;">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4>Music Venues in<br> {{ city.city }}:</h4>
    </div>
    <div class="modal-body" style="padding:40px 50px;">
      <form role="form">
          {% for each in night.nights_music_venues %}
            <div class="form-group well well-sm">
                <u>{{ each.name }}:</u><br>
                {{ each.loc_city }}, {{ each.state }}<br>
                {{ each.category }}
            </div>
          {% endfor %}
      </form>
    </div>
  </div>
</div>
</div>

    <!-- Night Club Modal -->
<div class="modal" id="night_clubModal" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header" style="padding:35px 50px;">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4>Night Club in <br>{{ city.city }}:</h4>
    </div>
    <div class="modal-body" style="padding:40px 50px;">
      <form role="form">
          {% for each in night.nights_night_club %}
            <div class="form-group well well-sm">
                <u>{{ each.name }}:</u><br>
                {{ each.loc_city }}, {{ each.state }}<br>
                {{ each.category }}
            </div>
          {% endfor %}
      </form>
    </div>
  </div>
</div>
</div>

<script>
$(document).ready(function(){
    $("#myBtn").click(function(){
        $("#myModal").modal();
    });
});
</script>

<!--<!DOCTYPE html>-->
<!--[if IE 7 ]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->

    <!-- Preloader -->
    <div id="preloader">
        <div class="tb-cell">
            <div id="page-loading">
                <div></div>
                <p>Loading</p>
            </div>
        </div>
    </div>

    <!-- Wrap -->
    <div id="wrap">

        <!-- Header -->
        <header id="header" class="header">
            <div class="container">

                <!-- Logo -->
                <div class="logo float-left">
                    <a href="{% url "index" %}" title="">
                    <img src="{% static "images/background/logo/TWlogo.jpg" %}" alt=""></a>
                </div>
                <!-- End Logo -->
                <!-- Bars -->
                <div class="bars" id="bars"></div>
                <!-- End Bars -->

                <!--Navigation-->
                <nav class="navigation nav-c" id="navigation" data-menu-type="1200">
                    <div class="nav-inner">
                        <a href="#" class="bars-close" id="bars-close">Close</a>
                        <div class="tb">
                            <div class="tb-cell">
                                <ul class="menu-list text-uppercase">

                                    <li>
                                        <a href="{% url "index" %}" title="">Search</a>
                                    </li>

                                    {% if not user.is_authenticated %}
                                        <li>
                                            <a href="{% url 'login' %}">Login</a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{% url 'profile' user.customer.id %}" title="">Profile</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'logout' %}" title="">Logout</a>
                                        </li>
                                    {% endif %}

                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
                <!--End Navigation-->
            </div>
        </header>
        <!-- End Header -->
        <!--Banner-->
        <section class="sub-banner2">
            <!--Background-->
            <div class="bg-parallax bg-9"></div>
            <!--End Background-->
            <!-- Logo -->
            <div class="logo-banner text-center">
{#                    <img src="{% static "images/background/new-bg/u1_state0.png" %}" alt="">#}
            </div>
            <!-- Logo -->
        </section>
        <!--End Banner-->

        <!-- Main -->
        <div class="main2">
            <div class="container">
                <div class="main-cn hotel-page bg-white clearfix">
                    <div class="row">
                    
                        <!-- Hotel Right -->
                            <!-- Hotel List -->
                            <section class="hotel-list">

                                <!-- Sort by and View by -->
                                <div class="sort-view clearfix">
                                    <figure class="hotel-img float-left">
                                        <img src="{{ city.img_url }}" alt="">
                                    </figure>
                                    <div class="hotel-detail2">
                                        &nbsp;All the details for {{ city.city }}, {{ city.state }}:
                                    </div>
                                    <!-- View by -->
                                </div>
                                <!-- End Sort by and View by -->

                                <!-- Hotel Grid Content-->
                                    <!-- Hotel Item -->
                                    <div class="hotel-detail-item">

                                        <div class="hotel-text">


                                            <div class="hotel-star-address">
                                            {% if hotel.show_hotels %}
                                                <div class="wrapBlock">
                                                    <div class="detail-heading">
                                                        Hotels:
                                                    </div>
                                                    <ul>

                                                        {% if hotel.num_hotels_lt50 > 0 %}
                                                          <li>  <a class="city-detail-item" data-toggle="modal" href="#hotel_lt50Modal">
                                                                Number of hotels with rates less than $50:
                                                                <strong class="vcard-stat-count">{{ hotel.num_hotels_lt50 }}</strong><br>
                                                            </a><li>
                                                        {% endif %}
                                                        {% if hotel.num_hotels_50_100 > 0 %}
                                                           <li> <a class="city-detail-item" data-toggle="modal" href="#hotel_50_100Modal">
                                                                Number of hotels with rates between $50 and $100:
                                                                <strong class="vcard-stat-count">{{ hotel.num_hotels_50_100 }}</strong><br>
                                                            </a><li>
                                                        {% endif %}
                                                        {% if hotel.num_hotels100_125 %}
                                                           <li> <a class="city-detail-item" data-toggle="modal" href="#hotel_100_125Modal">
                                                                Number of hotels with rates between $100 and $125:
                                                                <strong class="vcard-stat-count">{{ hotel.num_hotels100_125 }}</strong><br>
                                                            </a><li>
                                                        {% endif %}
                                                        </li>
                                                    </ul>
                                                </div>
                                            {% endif %}
                                            {% if restaurant.show_restaurants %}
                                                <div class="wrapBlock">
                                                    <div class="detail-heading">
                                                        Restaurants:
                                                    </div>
                                                    <ul>

                                                        {% if restaurant.num_restaurants5 > 0 %}
                                                          <li>  <a class="city-detail-item" data-toggle="modal" href="#rests5Modal">
                                                                Number of Restaurants with 5.0 rating:
                                                                <strong class="vcard-stat-count"> {{ restaurant.num_restaurants5 }}</strong><br>
                                                            </a></li>
                                                        {% endif %}
                                                        {% if restaurant.num_restaurants4_5 > 0 %}
                                                           <li> <a class="city-detail-item" data-toggle="modal" href="#rests4_5Modal">
                                                                Number of Restaurants with 4.5 rating:
                                                                <strong class="vcard-stat-count">{{ restaurant.num_restaurants4_5 }}</strong><br>
                                                            </a></li>
                                                        {% endif %}
                                                         {% if restaurant.restaurants4 > 0 %}
                                                            <li> <a class="city-detail-item" data-toggle="modal" href="#rests4Modal">
                                                                Number of Restaurants with 4.0 rating:
                                                                <strong class="vcard-stat-count">{{ restaurant.restaurants4 }}</strong><br>
                                                            </a></li>
                                                        {% endif %}

                                                    </ul>
                                                </div>
                                            {% endif %}
                                            {% if outdoor.show_outdoor %}
                                                <div class="wrapBlock">
                                                    <div class="detail-heading">
                                                        Outdoor recreation spots:
                                                    </div>
                                                    <ul>
                                                         {% if outdoor.num_outdoors_trails > 0 %}
                                                          <li>   <a class="city-detail-item" data-toggle="modal" href="#trailsModal">
                                                                Number of Trails:
                                                                <strong class="vcard-stat-count"> {{ outdoor.num_outdoors_trails }}</strong><br>
                                                             </a></li>
                                                         {% endif %}
                                                         {% if outdoor.num_outdoors_campground > 0 %}
                                                          <li>   <a class="city-detail-item" data-toggle="modal" href="#campgroundModal">
                                                                 Number of Campgrounds:
                                                                 <strong class="vcard-stat-count">{{ outdoor.num_outdoors_campground }}</strong><br>
                                                             </a></li>
                                                         {% endif %}
                                                         {% if outdoor.num_outdoors_lake > 0 %}
                                                          <li>   <a class="city-detail-item" data-toggle="modal" href="#lakeModal">
                                                                 Number of Lakes:
                                                                <strong class="vcard-stat-count"> {{ outdoor.num_outdoors_lake }}</strong><br>
                                                             </a></li>
                                                         {% endif %}
                                                         {% if outdoor.num_outdoors_mountain_resorts > 0 %}
                                                          <li>   <a class="city-detail-item" data-toggle="modal" href="#mntResortModal">
                                                                 Number of Mountain Resorts:
                                                                <strong class="vcard-stat-count">{{ outdoor.num_outdoors_mountain_resorts }}</strong><br>
                                                             </a></li>
                                                         {% endif %}
                                                         {% if outdoor.num_outdoors_peak > 0 %}
                                                           <li>  <a class="city-detail-item" data-toggle="modal" href="#peakModal">
                                                                Number of Peaks/Lookout:
                                                                <strong class="vcard-stat-count"> {{ outdoor.num_outdoors_peak }}</strong><br>
                                                             </a></li>
                                                         {% endif %}
                                                         {% if outdoor.num_outdoors_state_park > 0 %}
                                                           <li>  <a class="city-detail-item" data-toggle="modal" href="#stParkModal">
                                                                 Number of State Parks:
                                                                <strong class="vcard-stat-count">{{ outdoor.num_outdoors_state_park }}</strong><br>
                                                            </a></li>
                                                         {% endif %}
                                                         {% if outdoor.num_outdoors_other > 0 %}
                                                           <li>  <a class="city-detail-item" data-toggle="modal" href="#otherModal">
                                                                 Number of Other outdoor recreations:
                                                                 <strong class="vcard-stat-count">{{ outdoor.num_outdoors_other }}</strong><br>
                                                             </a></li>
                                                         {% endif %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                            {% if music.show_music %}
                                                <div class="wrapBlock">
                                                    <div class="detail-heading">
                                                        Events and Concerts:
                                                    </div>
                                                    <ul>
                                                        {% if music.num_events_festivals > 0 %}
                                                           <li> <a class="city-detail-item" data-toggle="modal" href="#festivalModal">
                                                                Number of Festivals:
                                                                <strong class="vcard-stat-count"> {{ music.num_events_festivals }}</strong><br>
                                                            </a></li>
                                                        {% endif %}
                                                        {% if music.num_events_music > 0 %}
                                                           <li>  <a class="city-detail-item" data-toggle="modal" href="#musicModal">
                                                                Number of Concerts:
                                                                <strong class="vcard-stat-count">{{ music.num_events_music }}</strong><br>
                                                            </a></li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                            {% if night.show_nights %}
                                                <div class="wrapBlock">
                                                    <div class="detail-heading">
                                                        Nightlife:
                                                    </div>
                                                    <ul>
                                                        {% if night.num_nights_pub > 0 %}
                                                          <li>  <a class="city-detail-item" data-toggle="modal" href="#pubModal">
                                                                Number of Pubs:
                                                                <strong class="vcard-stat-count"> {{ night.num_nights_pub }}</strong><br>
                                                            </a></li>
                                                        {% endif %}
                                                        {% if night.num_nights_bar %}
                                                           <li> <a class="city-detail-item" data-toggle="modal" href="#barModal">
                                                                Number of Bars:
                                                                <strong class="vcard-stat-count">{{ night.num_nights_bar }}</strong><br>
                                                            </a></li>
                                                        {% endif %}
                                                        {% if night.num_nights_sports_bar %}
                                                          <li>  <a class="city-detail-item" data-toggle="modal" href="#sports_barModal">
                                                                Number of Sports Bars:
                                                                <strong class="vcard-stat-count">{{ night.num_nights_sports_bar }}</strong><br>
                                                            </a></li>
                                                        {% endif %}
                                                        {% if night.num_nights_music_venues %}
                                                          <li>  <a class="city-detail-item" data-toggle="modal" href="#music_venueModal">
                                                                Number of Music Venues:
                                                                <strong class="vcard-stat-count"> {{ night.num_nights_music_venues }}</strong><br>
                                                            </a></li>
                                                        {% endif %}
                                                        {% if night.num_nights_night_club %}
                                                           <li> <a class="city-detail-item" data-toggle="modal" href="#night_clubModal">
                                                                Number of Night Clubs:
                                                                <strong class="vcard-stat-count">{{ night.num_nights_night_club }}</strong><br>
                                                            </a></li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                            </div>
                                            <p>

                                            </p>
                                            <hr class="hr">
                                            <div class="price-box float-left">

                                            </div>
                                            <div class="hotel-service float-right">

                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Hotel Item -->

                                <!--</div>-->
                                <!-- End Hotel Grid Content-->
                                <!-- Page Navigation -->
                            </section>
                            <!-- End Hotel List -->
                        <!--</div>-->
                        <!-- End Hotel Right -->
                    </div>

                </div>
            </div>
        </div>
        <!-- End Main -->
    </div>

{% endblock %}
