{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <!-- Preloader -->
    <div id="preloader">
        <div class="tb-cell">
            <div id="page-loading">
                <div></div>
                <p>Loading</p>
            </div>
        </div>
    </div>
    <!-- Wrap -->
    <div id="wrap">
        <!-- Header -->
        <header id="header" class="header">
            <div class="container">
                <!-- Logo -->
                <div class="logo float-left">
                    <a href="{% url "index" %}" title="">
                    <img src="{% static "images/background/logo/TWlogo.jpg" %}" alt=""></a>
                </div>
                <!-- End Logo -->
                <!-- Bars -->
                <div class="bars" id="bars"></div>
                <!-- End Bars -->

                <!--Navigation-->
                <nav class="navigation nav-c" id="navigation" data-menu-type="1200">
                    <div class="nav-inner">
                        <a href="#" class="bars-close" id="bars-close">Close</a>
                        <div class="tb">
                            <div class="tb-cell">
                                <ul class="menu-list text-uppercase">

                                    <li>
                                        <a href="{% url "index" %}" title="">Search</a>
                                    </li>

                                    {% if not user.is_authenticated %}
                                        <li>
                                            <a href="{% url 'login' %}">Login</a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{% url 'profile' user.customer.id %}" title="">Profile</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'logout' %}" title="">Logout</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
                <!--End Navigation-->
            </div>
        </header>
        <!-- End Header -->
    
        <!--Banner-->
        <section class="sub-banner2">
            <!--Background-->
            <div class="bg-parallax bg-3"></div>
            <!--End Background-->
            <!-- Logo -->
            <div class="logo-banner text-center">
            </div>
            <!-- Logo -->
        </section>
        <!--End Banner-->

        <!-- Main -->
        <div class="main2">
            <div class="container">
                <div class="main-cn hotel-page bg-white clearfix">
                    <div class="row">
                    
                        <!-- Hotel Right -->
                        <div class="col-md-9 col-md-push-3">

                            <!-- Hotel List -->
                            <section class="hotel-list">

                                <!-- Sort by and View by -->
                                <div class="sort-view clearfix">
                                    <div class="sort-by float-left">
                                        <p>
                                        <label>Your Top Cities ranked by:&nbsp;
                                            {% if user.is_authenticated %}
                                                {% if selected_filter != 'None' %}
                                                    {{ selected_filter }}
                                                {% else %}
                                                    Outdoor Recreation
                                                {% endif %}
                                            {% else %}
                                                Outdoor Recreation
                                            {% endif %}
                                        </label>
                                        </p>
                                    <!-- View by -->
                                </div>
                                <!-- End Sort by and View by -->

                                <!-- Hotel Grid Content-->
                                <div class="hotel-list-cn clearfix">
                                {% for each in city_dict %}
                                    <!-- Hotel Item -->
                                    <div class="hotel-list-item">
                                        <figure class="hotel-img float-left">
                                                <img src="{{ each.city.img_url }}" alt="">
                                        </figure>
                                        <div class="hotel-text">
                                            <div class="hotel-name">
                                                <a href="{% url 'city_detail' each.city.id %}">
                                                    {{ each.city.city }},
                                                    {{ each.city.state }}<br>
                                                </a>
                                            </div>

                                            <div class="hotel-star-address">
                                            {% if each.rating != None %}
                                                User Rating:
                                                <span class="hotel-star">
                                                    {% for i in each.range %}
                                                        <i class="glyphicon glyphicon-star"></i>
                                                    {% endfor %}
                                                </span><br>
                                            {% endif %}
                                            {% if user.is_authenticated %}
                                                {% if not each.has_rated %}
                                                    <a href="{% url 'create_rating' each.city.id %}">
                                                        Already visited? Click here to rate this city.
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                            <br><br>
                                            <ul>
                                                {% for stats in each.Stats %}
                                                    {% if stats.number > 0 %}
                                                      <li> {{ stats.Label }}:&nbsp;&nbsp;{{ stats.number }}<br></li>
                                                    {% endif %}
                                                {% endfor %}
                                                <br>
                                            </ul>
                                            </div>
                                            <p>

                                            </p>
                                            <hr class="hr">
                                            <div class="price-box float-left">

                                            </div>
                                            <div class="hotel-service float-right">

                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Hotel Item -->
                                    {% endfor %}

                                </div>
                                <!-- End Hotel Grid Content-->
                                <!-- Page Navigation -->
                            </section>
                            <!-- End Hotel List -->
                        </div>
                        <!-- End Hotel Right -->
                        <!-- Sidebar Hotel -->
                        <div class="col-md-3 col-md-pull-9">
                            <!-- Sidebar Content -->
                            <div class="sidebar-cn">
                                <!-- Search Result -->
                                <div class="search-result">
                                    <p>
                                        <ins>Top Cities</ins> other users with the <ins>same filter</ins>
                                        <span>have selected:</span>
                                    </p>
                                </div>
                                <!-- End Search Result -->
                                <!-- City List Sidebar -->
                                <div class="search-sidebar">
                                    <div class="row">
                                        <div class="form-search clearfix">
                                            <br><br>
                                            {% for city in city_click_list %}

                                                <div class=" col-md-10">
                                                <a class="hotel-text"
                                                   href="{% url 'city_detail' city.city.id %}">
                                                    <label for="destination">
                                                        <span>{{ city.city.city }},
                                                            {{ city.city.state }}<br><br>
                                                        </span>
                                                    </label>
                                                </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <!-- End City List Sidebar -->

                            </div>
                            <!-- End Sidebar Content -->
                        </div>
                        <!-- End Sidebar Hotel -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main -->

    </div>

{% endblock %}
