{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <!-- Preloader -->
    <div id="preloader">
        <div class="tb-cell">
            <div id="page-loading">
                <div></div>
                <p>Loading</p>
            </div>
        </div>
    </div>
    <!-- Wrap -->
    <div id="wrap">
        <!-- Header -->
        <header id="header" class="header">
            <div class="container">
                <!-- Logo -->
                <div class="logo float-left">
                    <a href="{% url "index" %}" title="">
                    <img src="{% static "images/background/logo/TWlogo.jpg" %}" alt=""></a>
                </div>
                <!-- End Logo -->
                <!-- Bars -->
                <div class="bars" id="bars"></div>
                <!-- End Bars -->

                <!--Navigation-->
                <nav class="navigation nav-c" id="navigation" data-menu-type="1200">
                    <div class="nav-inner">
                        <a href="#" class="bars-close" id="bars-close">Close</a>
                        <div class="tb">
                            <div class="tb-cell">
                                <ul class="menu-list text-uppercase">

                                    <li>
                                        <a href="{% url "index" %}" title="">Search</a>
                                    </li>

                                    {% if not user.is_authenticated %}
                                        <li>
                                            <a href="{% url 'login' %}">Login</a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{% url 'profile' user.customer.id %}" title="">Profile</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'logout' %}" title="">Logout</a>
                                        </li>
                                    {% endif %}


                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
                <!--End Navigation-->
            </div>
        </header>
        <!-- End Header -->
    
        <!--Banner-->
        <section class="sub-banner2">
            <!--Background-->
            <div class="bg-parallax bg-3"></div>
            <!--End Background-->
            <!-- Logo -->
            <div class="logo-banner text-center">
{#                    <img src="{% static "images/background/bg-2.jpg" %}" alt="">#}
            </div>
            <!-- Logo -->
        </section>
        <!--End Banner-->

        <!-- Main -->
        <div class="main2">
            <div class="container">
                <div class="main-cn hotel-page bg-white clearfix">
                    <div class="row">
                    
                        <!-- Hotel Right -->
                        <div class="col-md-9 col-md-push-3">

                            <!-- Hotel List -->
                            <section class="hotel-list">

                                <!-- Sort by and View by -->
                                <div class="sort-view clearfix">
                                    <div class="sort-by float-left">
                                        <p>
                                        <label>Your Top Cities ranked by:&nbsp;
                                            {% if user.is_authenticated %}
                                                {% if selected_filter != 'None' %}
                                                    {{ selected_filter }}
                                                {% else %}
                                                    Outdoor Recreation
                                                {% endif %}
                                            {% else %}
                                                Outdoor Recreation
                                            {% endif %}
                                        </label>
                                        </p>
                                    <!-- View by -->
                                </div>
                                <!-- End Sort by and View by -->

                                <!-- Hotel Grid Content-->
                                <div class="hotel-list-cn clearfix">
                                {% for each in city_dict %}
                                    <!-- Hotel Item -->
                                    <div class="hotel-list-item">
                                        <figure class="hotel-img float-left">
                                                <img src="{% static "images/hotel/img-1.jpg" %}" alt="">
                                        </figure>
                                        <div class="hotel-text">
                                            <div class="hotel-name">
                                                <a href="{% url 'city_detail' each.city.id %}">
                                                    {{ each.city.city }},
                                                    {{ each.city.state }}<br>
                                                </a>
                                            </div>

                                            <div class="hotel-star-address">
                                            {% if each.rating != None %}
                                                <span class="hotel-star">
                                                {% for i in each.range %}
                                                    <i class="glyphicon glyphicon-star"></i>
                                                {% endfor %}
                                                <br>
                                                </span>
                                            {% endif %}
                                            {% if user.is_authenticated %}
                                                {% if not each.has_rated %}
                                                    <a href="{% url 'create_rating' each.city.id %}">
                                                        Already visited? Click here to rate your visit.
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                            <br><br><br>
                                            <ul>
                                                {% for stats in each.Stats %}
                                                    {% if stats.number > 0 %}
                                                      <li> {{ stats.Label }}:&nbsp;&nbsp;{{ stats.number }}<br></li>
                                                    {% endif %}
                                                {% endfor %}
                                                <br>
                                            </ul>
                                            </div>
                                            <p>

                                            </p>
                                            <hr class="hr">
                                            <div class="price-box float-left">

                                            </div>
                                            <div class="hotel-service float-right">

                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Hotel Item -->
                                    {% endfor %}

                                </div>
                                <!-- End Hotel Grid Content-->
                                <!-- Page Navigation -->
                            </section>
                            <!-- End Hotel List -->
                        </div>
                        <!-- End Hotel Right -->
                        <!-- Sidebar Hotel -->
                        <div class="col-md-3 col-md-pull-9">
                            <!-- Sidebar Content -->
                            <div class="sidebar-cn">
                                <!-- Search Result -->
                                <div class="search-result">
                                    <p>
                                        <ins>Top Cities</ins> other users with the <ins>same filter</ins>
                                        <span>have selected:</span>
                                    </p>
                                </div>
                                <!-- End Search Result -->
                                <!-- City List Sidebar -->
                                <div class="search-sidebar">
                                    <div class="row">
                                        <div class="form-search clearfix">
                                            <br><br>
                                            {% for city in city_click_list %}

                                                <div class=" col-md-10">
                                                <a class="hotel-text"
                                                   href="{% url 'city_detail' city.city.id %}">
                                                    <label for="destination">
                                                        <span>{{ city.city.city }},
                                                            {{ city.city.state }}<br><br>
                                                        </span>
                                                    </label>
                                                </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <!-- End City List Sidebar -->

                            </div>
                            <!-- End Sidebar Content -->
                        </div>
                        <!-- End Sidebar Hotel -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main -->

        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <!-- Logo -->
                    <div class="col-md-4">
                        <div class="logo-foter">
                            <img src="{% static "images/background/logo/TWlogo.jpg" %}" alt="">
                        </div>
                    </div>
                    <!-- End Logo -->
                    <!-- Navigation Footer -->
                    <div class="col-sm-3 col-md-2">
                        <div class="ul-ft">

                        </div>
                    </div>
                    <!-- End Navigation Footer -->
                    <!-- Navigation Footer -->
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <div class="ul-ft">

                        </div>
                    </div>
                    <!-- End Navigation Footer -->
                    <!-- Footer Currency, Language -->
                    <div class="col-xs-5 col-sm-4 float-right">
{#                        <div class="ul-ft">#}<br><br>
                            <ul> Wanderlust<br><br>

                                [n] a strong or irresistible desire to
                                Travel • Practice Yoga • Listen to Music
                                Eat Well • Be Green • Appreciate Art
                                and create a community around mindful living
                           </ul>
{#                            </div>#}
                    </div>
                    <!-- End Footer Currency, Language -->
                </div>
            </div>
        </footer>
        <!-- End Footer -->
    </div>
    <!-- Library JS -->
    <!--<script type='text/javascript' src='//www.bing.com/widget/bootstrap.js'
     data-visualization='linksandimages' data-carouselstate='expanded'
     data-strength='moderate' data-maxlinks='12' data-maxentitylinks='4'
     data-maxparagraphlinks='5' data-version='1.0b' data-autosnapshot='true'
     data-id='829a001add0c423c851b167315a8bd8f' data-options='dc=red,cse=1'
     async></script>-->
    <script type="text/javascript"
            src="{% static "js/library/jquery-1.11.0.min.js" %}"></script>
    <script type="text/javascript"
            src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript"
            src="{% static "js/library/jquery-ui.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "js/library/bootstrap.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "js/library/owl.carousel.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "js/library/parallax.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "js/library/jquery.nicescroll.js" %}"></script>
    <script type="text/javascript"
            src="{% static "js/library/jquery.ui.touch-punch.min.js" %}">

    </script>
    <script type="text/javascript"
            src="{% static "js/library/jquery.mb.YTPlayer.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "js/library/SmoothScroll.js" %}"></script>
    <!-- End Library JS -->
    <!-- Main Js -->
    <script type="text/javascript" src="{% static "js/script.js" %}"></script>
    <!-- End Main Js -->

{% endblock %}
