{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<body>
        <h3>Here are the top suggestions for you:</h3>
        {% for each in city_dict %}
            <a href="{%  url 'city_detail' each.city.id %}">
                City, State:&nbsp;&nbsp;{{ each.city.city }},
                    {{ each.city.state }}<br>
            </a>
{#            Distance from origin:&nbsp;&nbsp;#}
{#                {{ each.dist | floatformat:1 }}&nbsp;miles<br>#}

            {% for stats in each.Stats %}
                {{ stats.Label }}:&nbsp;&nbsp;{{ stats.number }}<br>
            {% endfor %}
            <br>
        {% endfor %}
        <a href="{% url 'index' %}">Return to search page.</a>
</body>
{% endblock %}