{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<!--<!DOCTYPE html>-->
<!--[if IE 7 ]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->

    <!-- Preloader -->
    <div id="preloader">
        <div class="tb-cell">
            <div id="page-loading">
                <div></div>
                <p>Loading</p>
            </div>
        </div>
    </div>

    <!-- Wrap -->
    <div id="wrap">

        <!-- Header -->
        <header id="header" class="header">
            <div class="container">

                <!-- Logo -->
                <div class="logo float-left">
                    <a href="{% url "index" %}" title="">
                    <img src="{% static "images/background/logo/TWlogo.jpg" %}" alt=""></a>
                </div>
                <!-- End Logo -->
                <!-- Bars -->
                <div class="bars" id="bars"></div>
                <!-- End Bars -->

                <!--Navigation-->
                <nav class="navigation nav-c" id="navigation" data-menu-type="1200">
                    <div class="nav-inner">
                        <a href="#" class="bars-close" id="bars-close">Close</a>
                        <div class="tb">
                            <div class="tb-cell">
                                <ul class="menu-list text-uppercase">

                                    <li>
                                        <a href="{% url "index" %}" title="">Search</a>
                                    </li>

                                    {% if not user.is_authenticated %}
                                        <li>
                                            <a href="{% url 'login' %}">Login</a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{% url 'profile' user.customer.id %}" title="">Profile</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'logout' %}" title="">Logout</a>
                                        </li>
                                    {% endif %}

                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
                <!--End Navigation-->
            </div>
        </header>
        <!-- End Header -->

    
        <!--Banner-->
        <section class="sub-banner2">
            <!--Background-->
            <div class="bg-parallax bg-5"></div>
            <!--End Background-->
            <!-- Logo -->
            <div class="logo-banner text-center">
{#                    <img src="{% static "images/background/new-bg/u1_state0.png" %}" alt="">#}
            </div>
            <!-- Logo -->
        </section>
        <!--End Banner-->

        <!-- Main -->
        <div class="main2">
            <div class="container">
                <div class="main-cn hotel-page bg-white clearfix">
                    <div class="row">
                    
                        <!-- Hotel Right -->
                        <!--<div class="col-md-9 col-md-push-3">-->

                            <!-- Hotel List -->
                            <section class="hotel-list">

                                <!-- Sort by and View by -->
                                <div class="sort-view clearfix">

                                    <!-- View by -->
                                </div>
                                <!-- End Sort by and View by -->

                                <!-- Hotel Grid Content-->
                                <div class="hotel-list-cn clearfix">
                                    <!-- Hotel Item -->
                                    <div class="hotel-list-item">
                                        <figure class="hotel-img float-left">
                                                <img src="{% static "images/hotel/img-1.jpg" %}" alt="">
                                        </figure>
                                        <div class="hotel-text">
                                            <div class="hotel-detail2">
                                                <a>All the details for {{ city.city }}, {{ city.state }}:</a>

                                            </div>

                                            <div class="hotel-star-address">
                                                Hotels:
                                                <ul>
                                                    <li>Number of hotels with rates less than $50:
                                                            <strong class="vcard-stat-count">{{ hotels_lt50 }}</strong><br>
                                                        Number of hotels with rates between $50 and $100:
                                                            <strong class="vcard-stat-count">{{ hotels_50_100 }}</strong><br>
                                                        Number of hotels with rates between $100 and $125:
                                                            <strong class="vcard-stat-count">{{ hotels100_125 }}</strong><br>
                                                    </li>
                                                </ul>
                                                Restaurants:
                                                <ul>
                                                    <li>Number of Restaurants with 5.0 Yelp rating:
                                                        <strong class="vcard-stat-count"> {{ restaurants5 }}</strong><br>
                                                            Number of Restaurants with 4.5 Yelp rating:
                                                        <strong class="vcard-stat-count">{{ restaurants4_5 }}</strong><br>
                                                            Number of Restaurants with 4.0 Yelp rating:
                                                        <strong class="vcard-stat-count">{{ restaurants4 }}</strong><br>
                                                    </li>
                                                </ul>
                                                Outdoor recreation spots:
                                                <ul>
                                                     <li>    Number of Trails:
                                                        <strong class="vcard-stat-count"> {{ outdoors_trails }}</strong><br>
                                                            Number of Campgrounds:
                                                        <strong class="vcard-stat-count">{{ outdoors_campground }}</strong><br>
                                                            Number of Lakes:
                                                        <strong class="vcard-stat-count"> {{ outdoors_lake }}</strong><br>
                                                            Number of Mountain Resorts:
                                                        <strong class="vcard-stat-count">{{ outdoors_mountain_resorts }}</strong><br>
                                                            Number of Peaks/Lookout:
                                                        <strong class="vcard-stat-count"> {{ outdoors_peak }}</strong><br>
                                                            Number of State Parks:
                                                        <strong class="vcard-stat-count">{{ outdoors_state_park }}</strong><br>
                                                    </li>
                                                </ul>
                                                Events and Concerts:
                                                <ul>
                                                    <li>    Number of Festivals:
                                                        <strong class="vcard-stat-count"> {{ events_festivals }}</strong><br>
                                                            Number of Concerts:
                                                        <strong class="vcard-stat-count">{{ events_music }}</strong><br>
                                                    </li>
                                                </ul>
                                                Nightlife:
                                                <ul>
                                                    <li>    Number of Pubs:
                                                        <strong class="vcard-stat-count"> {{ nights_pub }}</strong><br>
                                                            Number of Bars:
                                                        <strong class="vcard-stat-count">{{ nights_bar }}</strong><br>
                                                            Number of Sports Bars:
                                                        <strong class="vcard-stat-count">{{ nights_sports_bar }}</strong><br>
                                                            Number of Music Venues:
                                                        <strong class="vcard-stat-count"> {{ nights_music_venues }}</strong><br>
                                                            Number of Night Clubs:
                                                        <strong class="vcard-stat-count">{{ nights_night_club }}</strong><br>

                                                    </li>
                                                </ul>
                                            </div>
                                            <p>

                                            </p>
                                            <hr class="hr">
                                            <div class="price-box float-left">

                                            </div>
                                            <div class="hotel-service float-right">

                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Hotel Item -->

                                </div>
                                <!-- End Hotel Grid Content-->
                                <!-- Page Navigation -->
                            </section>
                            <!-- End Hotel List -->
                        <!--</div>-->
                        <!-- End Hotel Right -->
                    </div>

                </div>
            </div>
        </div>
        <!-- End Main -->

        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <!-- Logo -->
                    <div class="col-md-4">
                        <div class="logo-foter">

                            <img src="{% static "images/background/logo/TWlogo.jpg" %}" alt="">

                        </div>
                    </div>
                    <!-- End Logo -->

                </div>
            </div>
        </footer>
        <!-- End Footer -->
        
    </div>
    
    <!-- Library JS -->
    <script type="text/javascript" src="{% static "js/library/jquery-1.11.0.min.js" %}"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{% static "js/library/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/library/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/library/owl.carousel.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/library/parallax.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/library/jquery.nicescroll.js" %}"></script>
    <script type="text/javascript" src="{% static "js/library/jquery.ui.touch-punch.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/library/jquery.mb.YTPlayer.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/library/SmoothScroll.js" %}"></script>
    <!-- End Library JS -->
    <!-- Main Js -->
    <script type="text/javascript" src="{% static "js/script.js" %}"></script>
    <!-- End Main Js -->

{% endblock %}
