{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<body>
        <h3>Here are the top 5 suggestions for you:</h3>
        {% for city, state, trail, event, rest, distance in city_list %}
            City, State:&nbsp;&nbsp;{{ city }}, {{ state }}<br>
            Number of Outdoor Recreation activities:&nbsp;&nbsp;{{ trail }}<br>
            Number of Events such as concerts or festivals:&nbsp;&nbsp;{{ event }}<br>
            Number of Top rated restaurants (rater 4.0 or higher):&nbsp;&nbsp;{{ rest }}<br>
            Distance from origin:&nbsp;&nbsp;{{ distance }}&nbsp;miles<br><br>
        {% endfor %}

        <a href="{% url 'index' %}">Return to search page.</a>
</body>
{% endblock %}