{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<!--<!DOCTYPE html>-->
<!--[if IE 7 ]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->

    <!-- Preloader -->
    <div id="preloader">
        <div class="tb-cell">
            <div id="page-loading">
                <div></div>
                <p>Loading</p>
            </div>
        </div>
    </div>

    <!-- Wrap -->
    <div id="wrap"> 
        <!-- Header -->
        <header id="header" class="header">
            <div class="container">
                <!-- Logo -->
                <div class="logo float-left">
                    <a href="{% url "index" %}" title="">
                    <img src="{% static "images/background/logo/TWlogo.jpg" %}" alt=""></a>
                </div>
                <!-- End Logo -->
                <!-- Bars -->
                <div class="bars" id="bars"></div>
                <!-- End Bars -->

                <!--Navigation-->
                <nav class="navigation nav-c" id="navigation" data-menu-type="1200">
                    <div class="nav-inner">
                        <a href="#" class="bars-close" id="bars-close">Close</a>
                        <div class="tb">
                            <div class="tb-cell">
                                <ul class="menu-list text-uppercase">

                                    <li>
                                        <a href="{% url "index" %}" title="">Search</a>
                                    </li>
                                    {% if not user.is_authenticated %}
                                        <li>
                                            <a href="{% url 'login' %}">Login</a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{% url 'profile' user.customer.id %}" title="">Profile</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'logout' %}" title="">Logout</a>
                                        </li>
                                    {% endif %}

                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
                <!--End Navigation-->
            </div>
        </header>
        <!-- End Header -->

         <!--Banner-->
        <section class="sub-banner2">
            <!--Background-->
            <div class="bg-parallax bg-8"></div>
            <!--End Background-->
            <!-- Logo -->
            <div class="logo-banner text-center">
{#                    <img src="{% static "images/background/new-bg/u1_state0.png" %}" alt="">#}
            </div>
            <!-- Logo -->
        </section>
        <!--End Banner-->

        <!-- Main -->
        <div class="main2">
            <div class="container">
                <div class="main-cn element-page bg-white clearfix">
                    
                    <section class="user-profile">
                        <div class="row">
                            <br>
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-9">
                                <div class="my-profile">
                                    <div class="row">
                                        <form method="post" action="{%  url 'create_rating' city.id %}">
                                            {% csrf_token %}
                                            <div class="col-xs-9 col-md-6 col-sm-4">

                                                <h4 class="my-profile__title">
                                                    Add your rating for {{ city.city }}, {{ city.state }}
                                                </h4>
                                                    <span>{{ form.as_p }}</span><br>
                                                    <input class="awe-btn" type="submit" name="submit" value="Submit Rating">
                                            </div>
                                        </form>
                                    </div>

                                    <div class="check-box">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!-- End Main -->
    </div>
{% endblock %}